@import 'bootstrap/scss/bootstrap';
@import './radio.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$main-bg: teal;
$secondary-bg: lightgray;
$primary-color: #fff;
$secondary-color: teal;


body {
  font-family: 'Open Sans', sans-serif;
}

// Reset

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

// Utils

.flex-container {
  display: flex;
  justify-content: center;
}

// Alert
.alert_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  z-index: 2;
}

// Page

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

// Header

.header {
  background-color: $main-bg;
  padding: 2rem 0;
  color: $primary-color;

  &__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__title {
    font-family: Poppins, sans-serif;
    margin: 0;
  }

  &__title-link {
    color: $primary-color;
  }

  &__list {
    display: flex;
    gap: 2rem;
  }

  &__link {
    color: $primary-color;

    &:hover {
      opacity: 0.6;
    }
  }
}

// Main

.main {
  background-color: $secondary-bg;
  overflow: hidden;

  &__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem 2rem;

  }

  &__title {
    color: $secondary-color;
    text-align: center;
    padding: 2rem 0;
  }

  &__info-paragraph {
    color: $secondary-color;
    text-align: center;
    font-size: 1.2rem;
  }

  &__info-icon {
    width: 30px;
    color: $secondary-color;

    &:hover {
      opacity: 0.6;
    }
  }
}

// Form

.form {
  max-width: 70%;

  &__description {
    margin-bottom: 0;
  }

  &__feedback-absolute {
    position: absolute;
  }

  &__radio-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 1.7rem;
    position: relative;
  }
}

// Form-group

.form-group {
  position: relative;
  padding-bottom: 1.7rem;

  &__date-picker {
    display: block;
    padding: 0.5rem 0.2rem;
  }

  &__submit-btn {
    background-color: $main-bg;
    color: $primary-color;
    width: 100%;
    transition: background-color 0.25s ease-in;

    &:hover {
      background-color: rgb(1, 72, 72);
      color: $primary-color;
    }
  }
}

.form-grup_extra-padding {
  padding-bottom: 2.2rem;
}

// Footer

.footer {
  background-color: $main-bg;
  padding: 2rem 0;
  color: $primary-color;

  &__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  &__content {
    text-align: center;
    margin: 0;
    position: relative;
  }

  &__link {
    color: $primary-color;
    display: inline-flex;
    justify-content: center;

    &:hover {
      opacity: 0.6;
    }
  }

  &__github-icon {
    color: $primary-color;
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
  }
}

@media (min-width: 1280px) {
  .header {
    &__container {
      padding: 0;
    }
  }
  .main {
    &__container {
      padding: 0 0 2rem;
    }
  }
  .footer {
    &__container {
      padding: 0;
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .main {
    &__info-paragraph {
      font-size: 1.5rem;
    }
  }

  .form {
    max-width: 50%;
  }
}